@tailwind base;
@tailwind components;
@tailwind utilities;

.profile-table {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}

[data-test="table-foot"] {
  /* Attribute has this exact value */
  display: none !important;
}

.employee-details {
  margin-top: 4rem;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}

.table img {
  width: 80px;
  height: 50px;
}

.profile-upload {
  width: 6rem;
  height: 6rem;
}

.profile-upload img {
  width: 100%;
  height: 100%;
}

.resume-link {
  color: #007bff !important;
}

.resume-link {
  color: blue;
}

.login-bg {
  background: cadetblue;
}

.view-profile-img {
  /* background-color: #fff; */
  width: 5rem;
}

.view-master-page .row {
  width: 100%;
}

.view-profile-page img {
  width: 6rem;
  height: 6rem;
}

.upper-layer-section {
    width: 90%;
    margin: auto;
    /* background:blue; */
}


.tabs-section {
  padding-top : 2rem;
  width: 90%;
  margin: auto;
  /* background: blueviolet; */
}


.view-profile-page .upper-section {
margin-top: 4rem;
}

.view-profile-page img {
  border-radius: 50%;
}

.attached-section {
  margin-left: 3rem;
}

.view-profile-page .right-section {
  margin-left: 40%;
}

.view-profile-page .status {

  background:rgb(232, 232, 232);
  /* border: 1px solid green; */
  border-radius: 30px;
  /* padding: 3px 8px; */
  color: rgb(0, 188, 41);
  text-align: center;
  font-size: 0.8em;

}

.view-profile-page .work {

  /* background:green; */
  border-radius: 20px;
  padding: 3px 5px;
  color: white;
  text-align: center;

  font-size: 0.8em;

}
.responsive-image {
  flex: 0 0 100%; /* Initially, both images take up 100% of the container width */

  /* Add padding or margin if needed for spacing */
  /* padding: 10px; */
}

@media (min-width: 900px) {
  /* On screens wider than 768px, each image takes up 60% of the container width */
  .responsive-image {
      flex: 0 0 60%;
  }
}
.responsive-image1 {
  flex: 0 0 100%; /* Initially, both images take up 100% of the container width */

  /* Add padding or margin if needed for spacing */
  /* padding: 10px; */
}

@media (min-width: 900px) {
  /* On screens wider than 768px, each image takes up 60% of the container width */
  .responsive-image1 {
      flex: 0 0 40%;
  }
}