@tailwind base;
@tailwind components;
@tailwind utilities;

.profile-table {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}

[data-test="table-foot"] {
  /* Attribute has this exact value */
  display: none !important;
}

.employee-details {
  margin-top: 4rem;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}

.table img {
  width: 80px;
  height: 50px;
}

.profile-upload {
  width: 5rem;
  height: 5rem;
}

.resume {
  color: blue !important;
}

.login-bg {
  background: cadetblue ;
}
